body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #00111C;
    color: #ffffff;
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #00111C;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar h1 {
    margin: 0;
    font-size: 24px;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

.main-content h1 {
    font-size: 48px;
    margin-top: 50px;
}

.main-content p {
    font-size: 24px;
}
