body, html {
    margin: 0;
    padding: 0;
    font-family: Ubuntu, 'Times New Roman', Times, serif;
    background-color: #00111C;
    color: #ffffff;
    height: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #00253E;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1000;
}

.topnav h1 {
    margin: 0;
    font-size: 24px;
}

  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: #00406C;
  }

.main-content {
    margin-left: 220px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-content h1 {
    font-size: 48px;
    margin-top: 50px;
}

.main-content p {
    font-size: 24px;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }