body, html {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', 'Times New Roman', Times, serif;
  background-color: #00111C; /* Original background color */
  color: #ffffff;
  height: 100%;
}

/* Navbar styles */
.navbar {
  width: 100%;
  background-color: #00253E; /* Original navbar background color */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.navbar-brand {
  color: white; /* Original brand text color */
  text-decoration: none;
  font-size: 1.5em;
}

.rounded-button {
  padding: 10px 20px;
  font-size: 1em;
  color: white; /* Button text color */
  background-color: #04AA6D; /* Original button background color */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}

.rounded-button:hover {
  background-color: #038857; /* Darker shade of button color on hover */
  transform: scale(1.1);
}

.coming-soon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 60px;
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 1.5em;
  text-align: center;
}

.newsletter-container {
  text-align: center;
  padding: 40px 20px;
  background-color: #00253E; /* Match navbar background color */
  color: #ffffff;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.newsletter-form input[type="email"] {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 250px;
}

.newsletter-form button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #04AA6D; /* Match button background color */
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.newsletter-form button:hover {
  background-color: #038857; /* Darker shade of button color on hover */
  transform: scale(1.1);
}

.thanks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 60px;
}