/* Base styles */
body {
    margin: 0;
    padding: 0;
  font-family: 'Ubuntu', 'Times New Roman', Times, serif;
    transition: opacity 0.5s ease; /* Smooth fade transition */
    opacity: 1; /* Fully visible by default */
}

body.fade-out {
    opacity: 0; /* Make the body invisible */
}

body.fade-in {
    opacity: 0; /* Start invisible */
    animation: fadeIn 0.5s forwards; /* Fade-in animation */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Solana theme colors */
body.solana-theme {
    background-color: #F7F8F3;
    color: #78BCC4;
}

body.solana-theme #content {
    border: 2px solid #002C3E;
    padding: 20px;
    margin: 20px;
}

/* Basechain theme colors */
body.basechain-theme {
    background-color: #2D2A32;
    color: #EF1F4D;
}

body.basechain-theme #content {
    border: 2px solid #9B1C3D;
    padding: 20px;
    margin: 20px;
}

/* Button styles */
button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background-color: #ccc;
    color: #000;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #bbb;
}
